
<style></style>
<form method="POST">
<label for="first name"> first name :</label>
<input type="text" name="fname" require><br>
<br>

<label for="middlename"> mid name :</label>
<input type="text" name="mname" require><br>
<br>

<label for="lastname"> last name :</label>
<input type="text" name="lname" require><br>
<br>

<label for="emp">employement</label>
<input type="radio" name="emp" value="employee">
<label for="emp">employee</label>
<input type="radio"  name="unemp" value="unemployee">
<label for="emp">unemployee</label><br><br>





<label for="number">num of indevesual  </label>
<input type="number"  name="num_in"><br><br>
<label for="telephone">telephone</label>
<input type="text" name="telephone" require> <br><br>

 <label for="place">place</label>
 <input name="place" list="place">


<datalist name="place">
 <option>مركز المدينة</option>
 <option>ريف شرقي</option> 
 <option>ريف غربي</option> 
 <option>ريف شمالي</option> 
 <option>ريف جنوبي</option> 
</datalist>
<br><br><br>
<input type="submit" name="add" value="register">
<br>
<a href="show">show all families</a>
</form>

